.Rproj.user
.Rhistory
.RData
.Ruserdata
Thumbs.db
*files/
*cache/
*.docx
*.pdf
*.html
*.nb.html
*tmp*
archive
trp_api_cookies.R
bomdata_trondheim
*.xlsx
new_vti
*.txt
*images/
*kurs/
*kp/
*sd/
*data_index_raw/bike*
trp_for_vti_2020.csv
trp_id_vti_def.csv
vti_trp_ekskluderte.csv
punkter_med_adt.csv
sykkelindekser_aug_2020.csv
trp_aadts.csv
trp_for_vti_2021.csv
*former_scripts/
*spesialuttak/
*.csv
*.png
*.rds